---
notifications:
  email: false

language: python

python: 3.6

env:
  - ANSIBLE_VER="~=2.5.0" MOLECULE_VER="~=2.22.0"
  - ANSIBLE_VER="~=2.6.0" MOLECULE_VER="~=2.22.0"
  - ANSIBLE_VER="~=2.7.0" MOLECULE_VER="~=2.22.0"
  - ANSIBLE_VER="~=2.8.0" MOLECULE_VER="~=2.22.0"
  - ANSIBLE_VER=""        MOLECULE_VER=""

sudo: true

services:
  - docker

install:
  - sudo apt-get install -y python-pip libssl-dev
  - pip install docker-py ansible${ANSIBLE_VER} molecule${MOLECULE_VER}

script:
  - ansible --version
  - molecule --version
  - molecule test --all
